<div class="d-flex justify-content-around">
    <div class="">
        <img src="{{ asset('build/images/logo_wild_light.png') }}" alt="logo wild" height="200"/>
    </div>
   <nav class="navbar navbar-expand-lg d-flex justify-content-between">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mb-2 navbar-nav me-auto mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Watchlist
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Enola Holmes</a></li>
              <li><a class="dropdown-item" href="#">The witcher</a></li>
              <li><a class="dropdown-item" href="#">The sandman</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Films</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Actors</a>
          </li>       
        </ul>
        <img src="{{ asset('build/images/magnifying_glass_light.png') }}" alt="magnifying-glass" height="45" class="p-2"/>
        
      </div>
    </div>
  </nav>
</div>